In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Without Yeo Johnson 80-20 Applying Hyperparameter SFS Top 4 features.csv')
df2 = pd.read_csv('Without Yeo Johnson 80-20 Applying Hyperparameter SFS Top 5 features.csv')
df3 = pd.read_csv('Without Yeo Johnson 80-20 Applying Hyperparameter SFS Top 7 features.csv')
df4 = pd.read_csv('Without Yeo Johnson 80-20 Applying Hyperparameter SFS Top 9 features.csv')

In [3]:
df4

,Unnamed: 0,0,1,2,3,4,5
0,Metrics,Accuracy,Precision,Recall,F1 Score,Cohen Kappa,AUC
1,SVC,0.9002164502164502,0.9424977538185084,0.9433962264150944,0.9421997238840313,0.9069086651053864,0.9826599326599327
2,LR,0.8811688311688313,0.9263252470799641,0.9245283018867925,0.925026061966434,0.8771014492753624,0.9555002405002405
3,KNN,0.8718614718614719,0.9054153393776035,0.9056603773584906,0.9041201386214863,0.8453006421482778,0.972979797979798

In [4]:
df2 = df2.drop(0, axis=0)
df3 = df3.drop(0, axis=0)
df4 = df4.drop(0, axis=0)
df2

,Unnamed: 0,0,1,2,3,4,5
1,SVC,0.9285714285714286,1.0,1.0,1.0,1.0,1.0
2,LR,0.8954545454545455,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
3,KNN,0.8577922077922077,0.9501572327044026,0.9433962264150944,0.9446731764791063,0.9090909090909091,0.9915319865319865

In [5]:
df = pd.concat([df1, df2, df3, df4])
df

,Unnamed: 0,0,1,2,3,4,5
0,Metrics,Accuracy,Precision,Recall,F1 Score,Cohen Kappa,AUC
1,SVC,0.9383116883116884,1.0,1.0,1.0,1.0,1.0
2,LR,0.9142857142857143,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
3,KNN,0.9142857142857144,0.9588336192109778,0.9433962264150944,0.9460584419700395,0.9102202145680407,0.9967195767195767
1,SVC,0.9285714285714286,1.0,1.0,1.0,1.0,1.0
2,LR,0.8954545454545455,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
3,KNN,0.8577922077922077,0.9501572327044026,0.9433962264150944,0.9446731764791063,0.9090909090909091,0.9915319865319865
1,SVC,0.9004329004329004,1.0,1.0,1.0,1.0,0.9990740740740741
2,LR,0.890909090909091,0.9069182389937106,0.9056603773584906,0.8980130381747632,0.8431024274718768,0.9939682539682541
3,KNN,0.8580086580086581,0.8840970350404314,0.8867924528301887,0.8847982819450836,0.8138173302107728,0.9864790764790765
1,SVC,0.9002164502164502,0.9424977538185084,0.9433962264150944,0.9421997238840313,0.9069086651053864,0.9826599326599327
2,LR,0.8811688311688313,0.9263252470799641,0.9245283018867925,0.925026061966434,0.8771014492753624,0.9555002405002405
3,KNN,0.8718614718614719,0.9054153393776035,0.9056603773584906,0.9041201386214863,0.8453006421482778,0.972979797979798

In [6]:
df = df.drop(0, axis=0)

In [7]:
df.rename(columns={'Unnamed: 0': 'Model', '0': 'Accuracy', '1': 'Precision', '2': 'Recall', '3': 'F1 Score', '4': 'Cohen Kappa', '5': 'AUC'}, inplace=True)

In [8]:
df

,Model,Accuracy,Precision,Recall,F1 Score,Cohen Kappa,AUC
1,SVC,0.9383116883116884,1.0,1.0,1.0,1.0,1.0
2,LR,0.9142857142857143,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
3,KNN,0.9142857142857144,0.9588336192109778,0.9433962264150944,0.9460584419700395,0.9102202145680407,0.9967195767195767
1,SVC,0.9285714285714286,1.0,1.0,1.0,1.0,1.0
2,LR,0.8954545454545455,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
3,KNN,0.8577922077922077,0.9501572327044026,0.9433962264150944,0.9446731764791063,0.9090909090909091,0.9915319865319865
1,SVC,0.9004329004329004,1.0,1.0,1.0,1.0,0.9990740740740741
2,LR,0.890909090909091,0.9069182389937106,0.9056603773584906,0.8980130381747632,0.8431024274718768,0.9939682539682541
3,KNN,0.8580086580086581,0.8840970350404314,0.8867924528301887,0.8847982819450836,0.8138173302107728,0.9864790764790765
1,SVC,0.9002164502164502,0.9424977538185084,0.9433962264150944,0.9421997238840313,0.9069086651053864,0.9826599326599327
2,LR,0.8811688311688313,0.9263252470799641,0.9245283018867925,0.925026061966434,0.8771014492753624,0.9555002405002405
3,KNN,0.8718614718614719,0.9054153393776035,0.9056603773584906,0.9041201386214863,0.8453006421482778,0.972979797979798

In [9]:
df = df.sort_values('Model')

In [10]:
df

,Model,Accuracy,Precision,Recall,F1 Score,Cohen Kappa,AUC
3,KNN,0.9142857142857144,0.9588336192109778,0.9433962264150944,0.9460584419700395,0.9102202145680407,0.9967195767195767
3,KNN,0.8577922077922077,0.9501572327044026,0.9433962264150944,0.9446731764791063,0.9090909090909091,0.9915319865319865
3,KNN,0.8580086580086581,0.8840970350404314,0.8867924528301887,0.8847982819450836,0.8138173302107728,0.9864790764790765
3,KNN,0.8718614718614719,0.9054153393776035,0.9056603773584906,0.9041201386214863,0.8453006421482778,0.972979797979798
2,LR,0.9142857142857143,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
2,LR,0.8954545454545455,0.9820305480682839,0.9811320754716981,0.9807332412946772,0.9689695550351288,0.9981481481481481
2,LR,0.890909090909091,0.9069182389937106,0.9056603773584906,0.8980130381747632,0.8431024274718768,0.9939682539682541
2,LR,0.8811688311688313,0.9263252470799641,0.9245283018867925,0.925026061966434,0.8771014492753624,0.9555002405002405
1,SVC,0.9383116883116884,1.0,1.0,1.0,1.0,1.0
1,SVC,0.9285714285714286,1.0,1.0,1.0,1.0,1.0
1,SVC,0.9004329004329004,1.0,1.0,1.0,1.0,0.9990740740740741
1,SVC,0.9002164502164502,0.9424977538185084,0.9433962264150944,0.9421997238840313,0.9069086651053864,0.9826599326599327

In [11]:
df.to_csv('Combined accuracy without YJ/Without Yeo Johnson 80-20 Applying Hyperparameter SFS.csv', index=False)